@import 'vars.css';
@import 'fonts.css';

html, body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    min-width: 100%;
}

html, button {
    font-size: 15px;
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    
}

footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: var(--footer-height);
    width: 100%;

    background-color: var(--footer-bg-color);
    color: white;
}

button {
    outline: none;
    border-width: 0;
    
    background-color: var(--button-bg-color);
    color: var(--button-color);

    min-width: 200px;
    min-height: 30px;
    margin: 3px;

    cursor: pointer;
}

button.primary {
    background-color: var(--button-bg-color-primary);
    color: var(--button-color-primary);
}

button.secondary {
    background-color: var(--button-bg-color-secondary);
    color: var(--button-color-secondary);
}

.logo {
    color: var(--heading-color);
}

button.close {
    cursor: pointer;
    box-sizing: border-box;
    flex: 0 0;
    margin: 0;

    min-width: 50px;
    min-height: 50px;

    background-color: transparent;
    background-image: url('../images/icons/Multiplication_Sign-black.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-only {
    display: none;
}



form.full-width-form {
    font-size: 14px;
}

form.full-width-form .input-block {
    height: 50px;
    margin: 10px;
    padding: 12px;

    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
}

form.full-width-form .button-block {
    height: 50px;
    margin: 20px;
}

form.full-width-form .input-block, form.full-width-form .button-block {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

form.full-width-form .checkbox-container {
    margin: 15px 0;
}

form.full-width-form .secondary-links {
    margin: 20px 0;
    text-align: center;
}

form.full-width-form .secondary-links a {
    color: rgb(56, 56, 56);
    text-decoration: underline;
}



/* General */

body > .content {
    background-color: var(--primary-bg-color);
    min-height: 100vh;
}



/* Modal */

.modal {
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;

    background-color: rgba(0, 0, 0, .9);

    z-index: var(--z-index-modal);
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.modal.show {
    display: flex;
}

.modal .modal-popup {
    min-width: 400px;
    min-height: 200px;
    background-color: var(--modal-popup-bg-color);
}

.modal .modal-popup header {
    display: flex;
    justify-content: right;
    height: 60px;
}

.modal .modal-popup header .close {
    height: 100%;
}

.modal .modal-popup .modal-content-container {
    padding: 10px 20px;
}

.modal .modal-popup .modal-content-container h2 {
    margin-top: 0;
}

.modal .modal-popup .modal-content-container section {
    display: none;
}

.modal .modal-popup .modal-content-container section.show {
    display: block;
}

@media only screen and (max-width: 400px) {
    .modal .modal-popup {
        min-width: 100%;
    }
}



/* index.php */

.split-page {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    min-height: 100vh;
    min-width: 100%;
}

.split-page .relevant {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 400px;
    background-color: var(--primary-bg-color);
}

.split-page .optional {
    flex-grow: 1;
    background-color: #6c3779;
    background-image: url('../images/backgrounds/bg-index.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.split-page .central-options {
    background-color: transparent;

    padding: 10px;
    box-sizing: border-box;

    width: 70%;
    min-width: 350px;
}

.account-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.account-buttons button {
    height: 45px;
    margin: 5px 0;
}

@media only screen and (max-width: 700px) {
    .split-page .relevant {
        min-width: 100%;
    }

    .split-page .optional {
        display: none;
    }

    .split-page .central-options {
        min-width: 300px;
    }
}



/* dashboard.php */

div.content.dashboard {
    display: grid;
    grid-template-rows: var(--nav-height) 1fr auto;
}

nav.dashboard {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;

    height: var(--nav-height);
    background-color: var(--dashboard-nav-bg-color);
}

nav.dashboard .nav-container {
    display: flex;
    justify-content: space-between;

    width: var(--dashboard-max-content-width);
    height: 100%;
}

nav.dashboard .nav-container button.nav-button {
    box-sizing: border-box;
    min-width: 100px;
    height: 100%;

    margin: 0;
    padding: 0 20px;

    background-color: transparent;
    color: var(--dashboard-nav-color);
}

nav.dashboard .nav-container .nav-options {
    display: flex;
}

nav.dashboard .nav-container button.mobile-menu-button {
    display: none;
    background-image: url('../images/icons/Hamburger-white.svg');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    min-width: 80px;
}

@media only screen and (max-width: 700px) {
    nav.dashboard .nav-container button.mobile-menu-button {
        display: block;
    }

    nav.dashboard.mobile-show .nav-container button.mobile-menu-button {
        background-image: url('../images/icons/Multiplication_Sign-white.svg');
    }

    nav.dashboard .nav-container .nav-options {
        display: none;
        position: absolute;
        z-index: var(--z-index-menu);

        top: 100%;
        left: 0;
        right: 0;

        height: calc(100vh - var(--nav-height));
        background-color: var(--dashboard-nav-bg-color);
    }

    nav.dashboard .nav-container .nav-options button.nav-button {
        height: 70px;
    }

    nav.dashboard.mobile-show .nav-container .nav-options {
        display: flex;
        flex-direction: column;
    }
}



main.dashboard {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: var(--dashboard-max-content-width);
    
    margin: 0 auto;
}

main.dashboard .main-dashboard-content {
    flex: 1 0;
    max-width: var(--dashboard-max-content-width);
    width: 100%;
}

main.dashboard .main-dashboard-content section.post {
    margin: 20px 0;
    min-height: 200px;
    background-color: white;
}