:root {
    --primary-bg-color: #f7f2f2;
    --primary-theme-color: #6c3779;

    --heading-color: #9c274a;
    --sub-heading-color: #fa8572;



    --button-bg-color: #c9c9c9;
    --button-color: #000000;
    
    --button-bg-color-primary: #6c3779;
    --button-color-primary: #ffffff;
    --button-bg-color-secondary: #6c5fa7;
    --button-color-secondary: #ffffff;
    --button-bg-color-warning: #2c0000;
    --button-color-warning: white;



    --modal-popup-bg-color: var(--primary-bg-color);

    --footer-height: 80px;
    --footer-bg-color: rgb(20, 20, 20);

    --form-input-no-border-bg-color: rgb(255, 255, 255);
    --form-input-no-border-color: black;


    --nav-height: 70px;
    --nav-mobile-button-height: 70px;

    --dashboard-max-content-width: 1000px;
    --dashboard-nav-bg-color: var(--primary-theme-color);
    --dashboard-nav-color: white;


    --z-index-menu: 1001;
    --z-index-modal: 1000;
}